@import 'libs/bootstrap-reboot.min';
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);



@import 'base/variables';
@import 'base/mixins';


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


.container{
    width: 1148px;
    margin: 0 auto;
}

.divider{
width: 60px;
height: 3px;
background-color: $main-color;
margin: 25px auto 0 auto;
}


@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/usage';